<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
+ Add Pitch
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title fs-4 " id="exampleModalLabel">Pitch Here Something Helpful</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label fs-4">Title</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="title">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label fs-4">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label fs-4">Mpesa Number</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="+254">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label fs-4">Total Cost</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Total Cost">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Saved Pitches -->
<div class="card-header mb-2 col-4 mt-3">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Run to Save a Life</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit quidem
        perspiciatis unde vel magnam tempora ea nesciunt quaerat, voluptas
        blanditiis labore ipsum praesentium maxime. Pariatur, officiis dolor
        voluptatibus tempore optio nam nihil, consectetur illum quo vitae rerum
        quam velit error.
      </p>
      <p>Mpesa Number</p>
      <p>Total Cost</p>
  </div>
</div>




